// ___________________________________________________________________
// Global Config
// ___________________________________________________________________

//Font Stack
$font-family--primary: 'League Spartan', sans-serif;

// Font Weights
$font-weight--bold: 700;
$font-weight--medium: 500;
$font-weight--regular: 400;

// Colors
$dark-plum: #{'hsl(300, 43%, 22%)'};
$sugarplum: #{'hsl(300, 24%, 96%)'};
$white: #{'hsl(0, 0%, 100%)'};
$shadow: #{'hsla(0, 0%, 0%, 0.2)'};

// Color Usage
$color-bg-main: $white;
$color-bg-rating: $sugarplum;
$color-bg-quote: $dark-plum;

// Changed colors from design spec to pass Accessibility Color Contrast Ratio
$light-plum: #{'hsl(303, 10%, 48%)'};
$rose: #{'hsl(333, 80%, 69%)'};

// Text
$headingL: 3.25rem;
$headingM: 2.5rem;
$textS: 1.1875rem;
$textXS: 0.875rem;
$text__default: 1.0625rem;

// Line Height
$lineXL: 1.31;
$lineL: 1.29;
$lineM: 0.9;
$lineS: 0.8;

// Breakpoints
$brkpoint-md: '(min-width: 68.75rem)';