// ___________________________________________________________________
// Containers
// ___________________________________________________________________

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 4rem;
  min-height: 100vh;
}
