// ___________________________________________________________________
// Footer
// ___________________________________________________________________

@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

footer {
  grid-area: "footer";
}

.attribution {
  padding: .5rem 0;
  text-align: center;
  height: 4rem;
  width: 100%;

  p {
    @include text($textXS, $font-weight--medium, $dark-plum);
  }

  a {
    color: $dark-plum;
    text-decoration: none;

    &:hover {
      color: $rose;
    }
  } 
}