// ___________________________________________________________________
// Main - Hero & Star Rating Styles
// ___________________________________________________________________

@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

main {
  margin-inline: 1.5rem;
}

.hero {
  margin-bottom: 3.125rem;
  padding-top: 5.125rem;
  width: 100%;

  @media #{$brkpoint-md} {
    display: flex;
  }
}

.hero__header {
  @media #{$brkpoint-md} {
    flex-basis: 50%;
  }
}

.hero__text {
  letter-spacing: -0.039375rem;
  margin: 0 auto 2.5rem auto;
  max-width: 20rem;
  text-align: center;

  @media #{$brkpoint-md} {
    margin: 0;
    max-width: 27.8125rem;
    text-align: left;
  }
}

.star-icon {
  height: 1rem;
  width: 1.0625rem;
}

.hidden {
  display: none;
}

.ratings-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

  @media #{$brkpoint-md} {
    flex-basis: 50%;
  }
}

.ratings-list li:first-child {
  @media #{$brkpoint-md} {
    align-self: flex-start;
  }
}

.ratings-list li:nth-child(2) {
  @media #{$brkpoint-md} {
    align-self: center;
  }
}

.ratings-list li:last-child {
  @media #{$brkpoint-md} {
    align-self: flex-end;
  }
}

.ratings-list__item {
  @include rounded(0.5rem);
  background-color: $sugarplum;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  @media #{$brkpoint-md} {
    flex-direction: row;
    justify-content: stretch;
    padding: 1.25rem 0;
    width: 27.8125rem;
  }
}

.ratings-list__item span {
  padding-top: 1rem;

  @media #{$brkpoint-md} {
    height: 1.0625rem;
    padding: 0 2rem; 
  }
}

.ratings-list__item p {
  @include text($text__default, $font-weight--bold, $dark-plum);
  line-height: $lineM;
  padding-bottom: 1rem;
  padding-top: .5rem;

  @media #{$brkpoint-md} {
    padding: 0; 
  }
}
