// ___________________________________________________________________
// Quote "Cards" -- Figure and Blockquote Styles
// ___________________________________________________________________

@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.quote {
  @include rounded(8px);
  background-color: $dark-plum;
  padding-inline: 2rem;
  margin-bottom: 1rem;
}

.quote figcaption {
  display: grid;
  grid-template-columns: 40px 1fr;
  column-gap: 20px;
  padding-top: 40px;
  margin-bottom: 1rem;
}

.quote figcaption img {
  @include rounded(50%);
  @include size($width: 40px);
}

.quote blockquote {
  color: $white;
  padding-bottom: 35px;
}
