// ___________________________________________________________________
// Quote "Cards" -- Figure and Blockquote Styles
// ___________________________________________________________________

@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.quotes {
    @media #{$brkpoint-md} {
    display: flex;
    height: 16.625rem;
    gap: 1.875rem;
  }
}

.quotes li:first-child {
  align-self: flex-start;
}

.quotes li:nth-child(2) {
  align-self: center;
}

.quotes li:last-child {
  align-self: flex-end;
}

.quote {
  @include rounded(0.5rem);
  background-color: $dark-plum;
  padding-inline: 2rem;
  margin-bottom: 1rem;
  width: 100%;

  @media #{$brkpoint-md} {
    margin-bottom: 0;
  }
}

.quote figcaption {
  display: grid;
  grid-template-columns: 2.5rem 1fr;
  column-gap: 1.4375rem;
  padding-top: 2.5rem;
  padding-bottom: 1.4375rem;

  @media #{$brkpoint-md} {
    padding-bottom: 1.9375rem;
  }
}

.quote figcaption img {
  @include rounded(50%);
  @include size($width: 2.5rem);
  box-shadow: inset 0 2px 4px $shadow;
}

.quote__heading {
  margin-bottom: .25rem;
}

.quote blockquote {
  @include text($size: $text__default, $color: $white);
  letter-spacing: -0.01875rem;
  line-height: $lineL;
  max-width: 17.875rem;
  padding-bottom: 2.1875rem;
}
